<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SQLite3Test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5053A41E27217600CB5E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5053B81E27217700CB5E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5053C31E27217700CB5E55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
